<!DOCTYPE html>
<html>
<head>
  <title>Package Index</title>
</head>
<body>
  {% for filename, url in pkgs|dictsort %}
    <a href="{{ url }}" {%if filename in pyvers %}data-requires-python="{{pyvers[filename]}}"{% endif %}>{{ filename }}</a><br>
  {%- endfor %}
</body>
</html>
